.erstellen-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #bbb;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3),
    inset 2px 2px 3px rgba(255, 255, 255, 0.5);
	&:hover {
		background-color: #0b55c5;
	}
  &:active {
    background-color: #ccc;
  }
}

.ticket-container {
  // margin: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
	.dark{
		--color: #fff;
		--bgColor: linear-gradient(to top, #0a0a0a, #000);
		--ticketHoverBg: linear-gradient(to bottom, #0a0a0a, #000);
	}
	.light{
		--color: #000;
		--bgColor: linear-gradient(to top, #e7e7e7, #fff);
		--ticketHoverBg: linear-gradient(to bottom, #e7e7e7, #fff);
	}

  .ticket {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    background: var(--bgColor);
		color: var(--color);
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    .ticket-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ticket-editor-pic {
        position: relative;
        display: inline-block;
        img {
          height: 30px;
          width: 30px;
        }
      }
      .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: #bfd9ff;
        color: #0b55c5;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .ticket-editor-pic:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
    .ticket-description {
      height: 120px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      p {
        text-align: justify;
        font-size: 14px;
      }
    }
    .ticket-bottom {
      display: flex;
      justify-content: space-between;
      height: fit-content;
    }
    .ticket-buttons {
      display: flex;
      height: fit-content;
      justify-content: flex-end;
    }
		&:hover{
			background: var(--ticketHoverBg);
			scale: 1.05;
			transition: all 300ms ease-in-out;
		}
  }
}

.blocker {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #3333338a;
  backdrop-filter: blur(3px);
  z-index: 9998;
  .edit-ticket-modal {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    input,
    textarea,
    option,
    select {
      background-color: #555;
      color: #fff;
      padding: 5px;
    }
    .ticket-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        font-size: 22px;
      }
    }
    .ticket-description {
      font-size: 14px;
      height: fit-content;
      textarea {
        width: 100%;
        resize: none;
        height: 200px;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .ticket-bottom {
      display: flex;
      justify-content: space-between;
      height: fit-content;
    }
    .ticket-buttons {
      display: flex;
      height: fit-content;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #bbb;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3),
    inset 2px 2px 3px rgba(255, 255, 255, 0.5);
  &:active {
    background-color: #ccc;
  }
  &:hover {
    background-color: #0b55c5;
  }
}

.delete-btn {
  margin-left: 10px;
}

.select-benutzer {
  width: 180px;
}

.update-benutzer {
  margin-left: 10px;
}
