.kanban-content {
	.dark{
		--color: #fff;
	}
	.light{
		--color: #000;
	}

  table {
    border-collapse: separate;
    border-spacing: 15px;
		color: var(--color);
  }
}

.KanBanticket {
  height: 200px;
  width: 250px;
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
}
