.profile-content{
	display: flex;
	flex-direction: column;
	gap: 20px;
	user-select: none;
	.dark{
		--bg-color: #444;
		--color: #fff;
		--color2: #ddd;
		--color-disabled: #666;
	}
	.light{
		--bg-color: #fff;
		--color: #000;
		--color2: #111;
		--color-disabled: #ccc;
	}

	.profile-header{
		height: 50px;
		width: 100%;
		background-color: var(--bg-color);
		color: var(--color);
		box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
	}
	.profile-content-wrapper{
		display: flex;
		width: 100%;
		height: 100%;
		background-color: var(--bg-color);
		color: var(--color);
		box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
		padding: 20px;
		.profile-content-left{
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 50%;
			hr{
				border-top: 1px solid var(--color);
				min-width: 15%;
				width: 20%;
			}
			.user-info-row{
				display: flex;
				flex-direction: column;
				gap: 5px;
				p{
					color: var(--color2);
				}
				input{
					width: 50%;
					background-color: transparent;
					color: var(--color);
					padding: 6px;
					box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset -1px -1px 3px rgba(255,255,255,0.5);
					&:disabled{
						color: var(--color-disabled);
					}
				}
			}
			.user-pw-row{
				gap:10px;
				label{
					display: flex;
					flex-direction: column;
					gap: 5px;
				}
			}
		}
		.profile-content-right{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;
			width: 50%;
			.avatar-wrapper{
				display: flex;
				flex-direction: column;
				gap: 20px;
				width: 50%;
				img{
					width: 100%;
				}
				.change-av-btn{
					width: 100%;
				}
			}

		}
	}
}